<template name="RecoverPassword">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Sign In</h2>
            <p class="lead">
                Enter your username and password to sign in...
            </p>
            <hr>
            <form id="loginForm" class="form-horizontal edit-profile">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-5">
                        <input id="username" name="username" type="text" class="form-control" placeholder="Enter Username">
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
