<template name="BeckonNoActiveHunter">
    <div class="row">
        <div class="column">
            <div class="ui icon warning message">
                <i class="warning sign icon"></i>
                <div class="content">
                    <div class="header">
                        Beckoning Bell
                    </div>
                    <p>
                        You need an active Hunter before you can ring a Beckoning Bell.
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
