<template name="AdminAccounts">
    <div class="ui page grid">
        <div class="row">
            <div class="column">
                <h3 class="ui header">Accounts</h3>
                <table class="ui table">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Username</th>
                            <th colspan="2">Created At</th>
                            <th>Deleted</th>
                            <th>Admin</th>
                            <th colspan="2">Deleted At</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each accounts}}
                        <tr>
                            <td>{{_id}}</td>
                            <td>{{username}}</td>
                            <td>{{formatDate createdAt}}</td>
                            <td>{{formatTime createdAt}}</td>
                            <td>{{deleted}}</td>
                            <td>{{deletedByAdmin}}</td>
                            <td>{{formatDate deletedDate}}</td>
                            <td>{{formatTime deletedDate}}</td>
                            <td><button class="ui mini red button delete">Delete</button></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
