<template name="Loading">
    <div class="ui page grid loading">
        <div class="row ui">
            <div class="column">
                <h3 class="ui top attached header">
                    reminiscent of message
                </h3>
                <div class="ui attached raised segment">
                    <div class="ui active dimmer">
                        <div class="ui text loader">
                            Loading...
                        </div>
                    </div>
                </div>
                <h3 class="ui right aligned bottom attached header">
                    oh, i can't wait... hee hee...
                </h3>
            </div>
        </div>
    </div>
</template>
