<template name="NotFound">
    <div class="ui page grid">
        <div class="row">
            <div class="column">
                <h3 class="ui top attached header">
                    reminiscent of message
                </h3>
                <div class="ui attached raised segment">
                    <h4 class="ui header">
                        Not Found
                    </h4>
                    <p>
                        The page you requested does not exist.
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
